{% extends "base.njk" %}
{% block title %}Sign-in 画面{% endblock %}
{% block content %}
<div class="m-auto w-25 px-5 py-3 border rounded">
  <form method="post" action="/sign-in">
    <label for="userName" class="form-label">ユーザネーム</label>
    <input id="userName" name="userName" type="text" class="form-control" value="">
    <label for="password" class="form-label">パスワード</label>
    <input id="password" name="password" type="password" class="form-control">
    <div class="mt-2 text-end">
      <input type="submit" class="btn btn-primary" value="サインイン">
    </div>
  </form>
</div>
<div class="text-end">
  <a class="btn btn-primary" href="/sign-up">サインアップ</a>
</div>
{% endblock %}